@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
@import '../styles/colors.scss';

.LoginBackground {
	height: 100%;
	background-color: $main-light;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	.Logo {
		text-align: center;
		font-weight: 700;
		font-size: 1.4em;
		letter-spacing: 0.2px;
		color: $main;
		font-family: 'Ubuntu', sans-serif;
	}
	.LoginButtons {
		> div {
			background-color: #fff;
			font-size: 0.9em;
			border: 1px solid #878787;
			color: $darkest;
			padding: 8px 15px;
			color: #878787;
			border-radius: 0.4em;
			margin-top: 10px;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			height: 50px;

			&:hover {
				color: #111;
			}
		}

		.Github {
			display: flex;
			align-items: center;
			.icon-github {
				margin-right: 10px;
			}
		}

		.Google {
			display: flex;
			align-items: center;

			.icon-google {
				display: inline-block;
				margin-right: 10px;
				background: url(https://accounts.scdn.co/sso/images/google-icon.1cdc8fce9609d07f0e9d8d0bc4b61f8f.svg)
					center center no-repeat;
				width: 20px;
				height: 20px;
			}
		}

		.LookButton {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #111;
			font-size: 1.2em;
		}
	}
}
@media (prefers-color-scheme: dark) {
	.LoginBackground {
		background-color: $darkest;
		.LoginButtons {
			> div {
				border: 2px solid $main-light;
			}
		}
	}
}
