@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
@import '../styles/colors.scss';

.CardWrapper {
	max-width: 1080px;
	margin: 15px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	justify-items: center;
	align-items: center;

	@media screen and (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width: 920px) {
		grid-template-columns: 1fr;
	}

	.Card {
		background-color: #fff;
		width: 300px;
		height: 200px;
		overflow: scroll;
		border-radius: 1.2em;
		margin: 5px 5px 10px 5px;
		transition: 0.2s ease-in-out;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		cursor: pointer;
		padding: 10px 15px;
		&:hover {
			transform: scale(1.05) rotate(-1deg);
		}
		.CardTop {
			display: flex;
			justify-content: space-between;
			align-items: center;
			i {
				color: $darkest;
			}
		}

		.NameOfLanguage {
			width: 80px;
			height: 25px;
			background-color: $c-pink;
			border-radius: 1.2em;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.8em;
			color: #fff;
			letter-spacing: 1px;
			&.pink {
				background-color: $c-pink;
				&.Explain {
					background: linear-gradient(to right, $c-pink, $c-blue);
				}
			}
			&.blue {
				background-color: $c-blue;
				&.Explain {
					background: linear-gradient(to right, $c-blue, $c-green);
				}
			}
			&.green {
				background-color: $c-green;
				&.Explain {
					background: linear-gradient(to right, $c-green, $c-yellow);
				}
			}
			&.yellow {
				background-color: $c-yellow;
				&.Explain {
					background: linear-gradient(to right, $c-yellow, $c-pink);
				}
			}
			&.Explain {
				margin-top: 10px;
			}
		}

		.CardMain {
			font-family: 'Open Sans', sans-serif;
			letter-spacing: 0.2px;
			margin-top: 10px;
			overflow-wrap: break-word;
		}
		.Memo {
			margin-top: 10px;
			font-size: 0.9em;
			> p {
				margin-bottom: 5px;
				color: #444;
				font-weight: 800;
				font-size: 0.8em;
				font-family: 'Open Sans', sans-serif;
			}
		}
		.Date {
			text-align: end;

			div {
				color: #444;
				font-size: 0.7em;
				font-family: 'Open Sans', sans-serif;
			}
		}

		&.dark {
			background-color: $darkest;
			box-shadow: rgba(85, 85, 85, 0.1) 0px 4px 6px -1px,
				rgba(70, 70, 70, 0.06) 0px 2px 4px -1px;

			i {
				color: $main-light;
			}
			.CardMain {
				color: $main-light;
			}
		}
	}
}
