@import '../styles/colors.scss';

.Wrapper {
	background-color: $main-light;
	padding-left: 274px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	height: 100vh;
	position: fixed;
	overflow-y: scroll;
	top: 0;

	&.dark {
		background-color: $main-dark;
	}
}
