@import '../styles/colors.scss';
.Wrapper {
	background-color: $main-light;
	padding-left: 274px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100vw;
	height: 100vh;

	&.dark {
		background-color: $main-dark;
	}
}
