@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');

.TopWrapper {
	padding: 10px;
	margin: 14px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Input {
	width: 800px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2rem;
	margin-right: 15px;

	> div {
		padding: 0 3px 0 15px;
	}
	input {
		padding: 5px 15px;
		height: 52px;
		letter-spacing: 0.5px;
		color: '#ddd';
		font-family: 'Open Sans', sans-serif;
	}
}

.Switch {
	display: flex;
	align-items: center;
}
