@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
@import '../styles/colors.scss';

.TopWrapper {
	padding: 10px;
	margin: 14px auto;
	display: flex;
	align-items: center;
	justify-content: center;

	i {
		cursor: pointer;
		&.dark {
			color: $main-light;
		}

		&.ri-menu-line {
			margin-right: 10px;
		}
	}
}

.Input {
	width: 800px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2rem;
	margin-right: 15px;

	&.dark {
		background-color: $darkest;
	}
	> div {
		padding: 0 3px 0 15px;
	}

	input {
		padding: 5px 15px;
		height: 52px;
		max-width: 750px;
		width: 100%;
		letter-spacing: 0.5px;
		font-family: 'Open Sans', sans-serif;

		&.dark {
			color: $light-gray;
		}
	}
}

.Switch {
	display: flex;
	align-items: center;

	&.dark {
		i {
			color: $light-gray;
		}
	}
}
