@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
@import '../styles/colors.scss';

.ModalWrapper {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;

	> .Modal {
		width: 573px;
		height: 700px;
		background-color: #fff;
		margin: 20px auto;
		border-radius: 2em;
		position: relative;

		.CloseButton {
			display: inline-block;
			position: absolute;
			right: 20px;
			top: 10px;
			color: $darkest;
			cursor: pointer;
			transition: 0.4s ease-in-out;

			&:hover {
				transform: rotate(360deg);
			}
		}

		h2 {
			padding: 50px 10px;
			text-align: center;
			color: $main;
			font-family: 'Open Sans', sans-serif;
		}
		.Selection {
			margin: 0 auto;
			padding-left: 10px;
			padding-right: 15px;
			border-radius: 2em;
			width: 160px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $main-light;
			// for custom arrow if in case I want to change
			// &:after {
			// 	content: '\f078';
			// 	font: normal normal normal 17px/1 FontAwesome;
			// 	color: #0ebeff;
			// }
			select {
				// -webkit-appearance: none;
				// -moz-appearance: none;
				// appearance: none;
				max-width: 100%;
				font-family: 'Open Sans', sans-serif;
				font-weight: 800;
				font-size: 0.8rem;
				color: $main-dark;
			}
		}

		.TargetArea {
			padding: 10px 15px;
			display: block;
			border-radius: 1.2em;
			margin: 20px auto;
			width: 450px;
			height: 100px;
			background-color: $main-light;
			resize: none;
			color: $darkest;
			font-weight: 400;
			font-size: 0.8rem;
			font-family: 'Open Sans', sans-serif;

			&.memo {
				height: 100px;
			}
		}
	}

	&.dark {
		background-color: rgba(255, 255, 255, 0.1);
		> .Modal {
			background-color: $darkest;

			.CloseButton {
				i {
					color: $main-light;
				}
			}

			.Selection {
				background-color: $main-dark;

				select {
					color: $main-light;
				}
			}
		}
		.TargetArea {
			color: $main-light;
			background-color: $main-dark;
		}
		p {
			color: $main-light;
		}
	}
	p {
		color: $main-dark;
		font-size: 0.9em;
		font-weight: bold;
		letter-spacing: 1px;
		text-align: center;
	}
}
